@import url( "http://fonts.googleapis.com/css?family=Droid+Sans:400,700" );
/**
 *	leDashboard Desktop-Styles
 **/

@white: #fff;
@black: #000;
@bodyBgColor: #eee;
@textColor: #333;
@linkColor: #333;
@linkHoverColor: #000;

@lightBlue: #36a5f7;

body {
	color: @textColor;
	font-family: "Droid Sans", sans;

	background: @bodyBgColor; 
}

header {
  
	position: fixed;
  
	padding: 1em 0;
	left: 0;
	right: 0;
	top: 0;
	background: #333;
	width: 100%;
	height: 2em;
	z-index: 900;
	font-size: 0.6em;

	h1 {
		margin: 0;
		padding: 0 1em 0;
		color:@bodyBgColor;

		&:hover {
			color: @lightBlue;
		}
	}
	.menu {
		position: absolute;
		top: 0.5em;
		right: 0.5em;

		// round 10 px for jqueryUI Buttons to look nice
		font-size: 1em;
	}
	
}

#feeds {

	margin: 3em auto 2.5em auto;
	max-width: 1200px;

	.feed {
		margin: 1%;
		width: 31% ;
		display: inline-block;

		vertical-align: top;
		position: relative;

		background: @white;
		border-radius: 3px;

		box-shadow: 0 0 1px lighten( @textColor, 30% ), 0 0 0.5em lighten( @textColor, 40% );

		h2 {
			margin: 0;
			padding: 0.5em 1em;

			border-bottom: 1px solid lighten( @textColor, 40% );

			font-size: 0.7em;
			border-radius: 3px 3px 0 0;

			background: darken( @white, 10% );

			cursor: move;
			
			a {
				text-decoration: none;
				color: @textColor;

				&:hover {
					text-decoration: underline;
				}
			}

		}

		&.ui-sortable-helper {
			h2 {
				color: @lightBlue;
				background: @textColor;

				a {
					color: @lightBlue;
				}
			}
		}

		&.placeholder {
			background: @white url( "drop_arrow.png" ) no-repeat center center;
			box-shadow: inset 0 0 1em @lightBlue;
		}

		div {
			padding: 1em;

			&.loading {
				min-height: 5em;
				background: transparent url( "loading.gif" ) no-repeat center center;
			}
		}

		/**
		 *	Feed Items
		 */
		ul {

			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				padding: 0.2em 0 0.2em 12px;
				text-overflow: ellipse;

				font-size: 0.8em;

				position: relative;

				&:before {
					-webkit-transition-property: all;
					-webkit-transition-duration: 1s;

					position: absolute;
					left: 0px;
					content: url("triangle.png");
				}
				&.opened:before {
					-webkit-transform: rotate(90deg);
				}

				a {

					color: @linkColor;
					//display: block;
					
					&:hover {
						color: @linkHoverColor;
					}
				}

				&.open {
					
				}

			}
		}

		/**
		 *	reload, toggle-button
		 */
		.buttons {
			top: 0.5em;
			right: 0.5em;
			
			position: absolute;

			span {
			  .button
			}
		}
	}
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #333;
	width: 100%;
	//height: 2.5em;
	line-height: 0.5em;
	padding: 0 2em;

	font-size: 0.8em;

	* {
		color:#eee;
	}

	a:hover {
		color: @lightBlue;
	}
}

.button {
	padding: 0.5em;
	margin: 0.125em;

	color: @bodyBgColor;
	background: @textColor;
	font-size: 0.6em;

	border-radius: 5px;
}
header .button {
	border: 1px solid @bodyBgColor;
}

.ui-dialog {
	font-size: 12px;
}
