
/**
 *
 *	leDashboard Desktop-Styles
 *
 */
@import url( "http://fonts.googleapis.com/css?family=Droid+Sans:400,700" );

@bodyBgColor: #eee;
@textColor: #333;

body {
	color: @textColor;
	font-family: "Droid Sans", sans;

	background: @bodyBgColor; 
	
	
	// url(loading.gif) no-repeat center center;
}

header {

	h1 {
		border-bottom: 2px solid @textColor;
	}
}
