<div id="settings-form" title="Settings" style="display:none;">
	<p class="validateTips">All form fields are required.</p>

	<form>
		<fieldset>

			<label for="columns">Columns</label>
			<input type="number" min="2" max="5" name="columns" id="columns" class="text ui-widget-content ui-corner-all" />

			<label for="background_url">Background image URL</label>
			<input type="text" name="background_url" id="background_url" value="" class="text ui-widget-content ui-corner-all" />
		
			<label for="reload_time">Reload time</label>
			<p>Minutes to reload the feeds</p>
			<input type="number" name="reload_time" id="reload_time" value="" class="text ui-widget-content ui-corner-all" />
			
		</fieldset>
	</form>
</div>